.background {
    fill: none;
    pointer-events: all;
}

#states {
    fill: #aaa;
}

#states .active {
    display:none;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.county-boundary {
    fill: gray;
    stroke: #fff;
    stroke-width: .5px;
}

.county-boundary:hover, .state:hover {
    fill: orange;
}

#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}

.tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

/* Styles for the legend */
.legend {
    /* Change absolute positioning to relative positioning */
    position: relative;
    /* Set width to make it smaller */
    width: 150px; /* Adjust as needed */
    max-height: auto; /* Adjust as needed */
    overflow-y: auto;
    /* Prevent horizontal scrolling */
    overflow-x: hidden;
    /* Adjust margin values to position the legend */
    margin-top: 20px; /* Adjust as needed */
    margin-left: 10px; /* Adjust as needed */
    /* Remove float: right */
    /* float: right; */
    /* Adjust the right padding to create space between the legend and scatter plot */
    padding-right: 10px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    /* Remove border-radius for better fit */
    /* border-radius: 5px; */
}

.viz-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items to the top */
    border: 3px solid #ccc; /* Add border style */
    border-radius: 10px; /* Add rounded corners */
    padding: 10px; /* Add padding */
    margin-top: 20px; /* Add margin to separate from header */
}

.viz {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items to the top */
    border: 3px solid #ccc; /* Add border style */
    border-radius: 10px; /* Add rounded corners */
    padding: 10px; /* Add padding */
    margin-top: 20px; /* Add margin to separate from header */
}

.legend-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.legend-item {
    margin-bottom: 5px;
}

.legend-item div {
    display: inline-block;
    margin-right: 10px;
}

/* CSS styles for labels */
label {
    margin-bottom: 10px;
}

/* Center the dropdowns */
.dropdown {
    text-align: center; /* Center text */
    margin-bottom: 10px; /* Add margin to separate dropdowns */
    margin-top: 10px; /* Add margin to separate dropdowns */
}

/* Styles for the information button */
.info-button {
    position: fixed; /* Fixed position */
    top: 20px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    z-index: 1000; /* Ensure it's above other content */
    background-color: rgba(255, 255, 255, 0.8); /* Background color */
    border: 3px solid #ccc; /* Border */
    border-radius: 50%; /* Rounded shape */
    width: 40px; /* Button width */
    height: 40px; /* Button height */
    display: flex; /* Flex display for centering content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    cursor: pointer; /* Cursor style */
}

.info-button i {
    color: #333; /* Icon color */
    font-size: 24px; /* Icon size */
}

/* Styles for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top of the button */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
    padding-top: 60px; /* Location of the modal content */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px; /* Rounded corners */
    width: 60%; /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    text-align: center; /* Center the text */
}